.checkbox {
  color: var(--green);
  transition: all 0.1s ease-in-out;

  &:not(.checked) {
    color: var(--white);
  }

  .check {
    opacity: 0;
    transition: opacity 0.1s ease-in-out;

    &.show {
      opacity: 1;
    }
  }
}
