.Explorer {
  height: 100%;
  // width: 36rem;
  width: 100%;
  background-color: var(--0);
  position: relative;
  display: flex;
  flex-direction: column;
}

.backdrop {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--0);
  transition: all 0.1s ease-in-out;
  opacity: 0;
  pointer-events: none;
  cursor: pointer;
  z-index: 0;

  &.active {
    opacity: 0.5;
    pointer-events: all;
  }
}

.Collections {
  h6 {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .content {
    padding: 0 1.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    border-bottom: 0.1rem solid var(--4);
    user-select: none;
    position: relative;
    z-index: 1;
    height: 5.6rem;

    &:hover {
      background-color: var(--1);
    }

    & > span {
      transition: all 0.1s ease-in-out;

      &.active {
        transform: rotate(-90deg);
      }
    }
  }

  .dropdown {
    position: absolute;
    top: 5.6rem;
    left: 0;
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    background-color: var(--1);
    border-bottom: 0.1rem solid var(--4);
    transition: all 0.1s ease-in-out;
    opacity: 0;
    pointer-events: none;
    z-index: 1;

    &.active {
      opacity: 1;
      pointer-events: all;
    }

    li {
      padding: 0.8rem 1.6rem;
      cursor: pointer;
      border-bottom: 0.1rem solid var(--4);
      display: flex;
      align-items: center;
      justify-content: space-between;
      transition: all 0.1s ease-in-out;

      &:hover {
        background-color: var(--3);
      }

      &.new {
        cursor: unset;
        color: var(--4);
        border: none;

        form {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
        }

        input {
          color: var(--7);
          border: none;
          background-color: transparent;
          padding: 0;
          margin: 0;
          outline: none;
          width: 80%;
          font-size: 1.6rem;
        }

        button {
          padding: 0;
          margin: 0;
          border: none;
          background-color: transparent;
          cursor: pointer;
        }
      }
    }
  }
}
