
.contentType {
  padding: 1.6rem 2.4rem;
  display: flex;
  gap: 1.6rem;
  align-items: center;

  span {
    font-weight: 500;
    font-size: 1.6rem;
  }

  .contentTypeSelector {
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 12rem;
    background-color: var(--dark-grey);
    border-radius: var(--border-radius);
    border: 0.1rem solid var(--grey);
    padding: 1rem 1.2rem;
    cursor: pointer;

    font-weight: 600;
    font-size: 1.4rem;

    .chevron {
      height: 1.2rem;
      width: 1.2rem;
      transition: all 0.1s ease-in-out;

      &.turn {
        transform: rotate(-90deg);
      }
    }
  }
}

.content {
  opacity: 0;
  pointer-events: none;
  transition: all 0.1s ease-in-out;
  display: flex;
  flex-direction: column;

  &.active {
    opacity: 1;
    pointer-events: all;
  }
}

.contentTypeParent {
  position: relative;
}

.overlapChildren {
  display: grid;
  grid-template-areas: 'stuff';
  height: 100%;

  & > * {
    grid-area: stuff;
  }
}

.body {
  padding: 1rem 2.4rem;
  position: relative;

  &.bodytext,
  &.bodytext * {
    color: var(--white) !important;
  }

  &::selection {
    background-color: red !important;
  }

  * {
    font-family: var(--mono) !important;
    font-weight: 400 !important;
    overflow: unset !important;

    &::selection {
      background-color: red !important;
    }
  }
}

.contentDropdown {
  position: absolute;
  top: calc(100% + 0.6rem);
  left: 0;
  background-color: var(--dark-grey);
  border: 0.1rem solid var(--grey);
  border-radius: var(--border-radius);
  padding: 1.2rem 0;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.1s ease-in-out;
  z-index: 100;

  &.activeContent {
    opacity: 1;
    pointer-events: all;
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;

    li {
      padding: 0.8rem 1.2rem;
      font-size: 1.4rem;
      transition: all 0.2s ease-in-out;
      cursor: pointer;
      background-color: var(--dark-grey);

      &:hover {
        background-color: var(--grey);
      }
    }
  }
}
