.Toolbar {
  display: flex;
  flex-direction: column;
  padding: 0.8rem;
  height: 100%;
  width: fit-content;
  border-left: 0.1rem solid var(--grey);

  & > ul {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    li {
      padding: 1.4rem;
      border: 0.1rem solid var(--grey);
      border-radius: var(--border-radius);
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: all 0.1s ease-in-out;

      &.active,
      &:hover {
        background-color: var(--dark-grey);
      }
    }
  }
}
