.Toolbar {
  height: 100%;
  width: 6.4rem;
  border-right: 0.1rem solid var(--4);
  padding: 1.2rem 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  a {
    width: 4.8rem;
    height: 4.8rem;
    border-radius: var(--border-radius);
    border: solid 0.1rem var(--4);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.1s ease-in-out;
    position: relative;

    .tooltip {
      position: absolute;
      top: 50%;
      left: calc(100% + 2.1rem);
      transform: translateY(-50%);
      color: var(--7);
      font-size: 1.2rem;
      background-color: var(--0);
      border-radius: var(--border-radius);
      padding: 0.4rem 0.8rem;
      width: fit-content;
      display: flex;
      gap: 1ch;
      pointer-events: none;
      transition: all 0.1s ease-in-out;
      opacity: 0;

      &.show {
        opacity: 1;
      }

      svg {
        position: absolute;
        top: 50%;
        left: -0.9rem;
        width: 0.9rem;
        height: 1.2rem;
        transform: translateY(-50%);
      }
    }

    & > * {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    * {
      transition: all 0.1s ease-in-out;
    }

    &:hover,
    &.active {
      background-color: var(--3);
    }
  }
}
