.StatusBar {
  height: 3.4rem;
  border-top: 0.1rem solid var(--grey);
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  user-select: none;

  li {
    display: flex;
    align-items: center;
    gap: 0.9rem;
    padding: 0.9rem 1.6rem;
    transition: all 0.1s ease-in-out;
    cursor: pointer;

    svg {
      width: 1.5rem;
      height: 1.5rem;
    }

    &:hover {
      background-color: var(--dark-grey);
    }
  }
}

.Sidebar {
  transition: all 0.2s ease-in-out;

  &.flip {
    transform: rotate(180deg);
  }
}
