.Settings {
  padding: 2.4rem;
}

.back {
  height: 3.2rem;
  width: 3.2rem;
  cursor: pointer;
  margin-bottom: 1.2rem;
}

.h1 {
  font-size: 3.6rem;
  background-color: transparent;
  margin-bottom: 1.2rem;
}

.delete {
  background-color: var(--red);
  border-radius: var(--border-radius);
  padding: 1rem 1.6rem;
  color: var(--white);
  outline: none !important;
  transition: all 0.1s ease-in-out;
  border: none;
  cursor: pointer;
  user-select: none;

  &:hover {
    filter: brightness(0.9);
  }
}
