.ResponseBox {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  position: absolute;
  top: 0;
  left: 0;
  font-family: var(--mono);
}

.body {
  padding: 2.4rem 1.2rem;
  position: relative;
  width: 100%;

  &.bodytext,
  &.bodytext * {
    color: var(--white) !important;
  }

  * {
    font-family: var(--mono) !important;
    font-weight: 400 !important;
    overflow: unset !important;
  }
}
