.ResponseBox {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  position: absolute;
  top: 0;
  left: 0;
  font-family: var(--mono);
}

.body {
  padding: 2.4rem 1.2rem;
  position: relative;
  width: 100%;

  &.bodytext,
  &.bodytext * {
    color: var(--white) !important;
  }

  * {
    font-family: var(--mono) !important;
    font-weight: 400 !important;
    overflow: unset !important;
  }
}

.error {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  .errorText {
    font-size: 2.4rem;
    color: var(--red);
    padding: 2rem;
    border-bottom: 0.1rem solid var(--grey);
    letter-spacing: 0;
  }

  .errorMessage {
    font-family: var(--mono);
    letter-spacing: 0.015em;
    margin: 1.6rem 2rem;
    font-weight: 400;
  }
}
