:root {
  --border-radius: 0.4rem;

  --sans: 'Inter', sans-serif;
  --mono: 'Roboto Mono', monospace;

  --0: #13151a;
  --1: #191d23;
  --2: #1f2328;
  --3: #222a32;
  --4: #333a43;
  --5: #707d8d;
  --6: #8f9dae;
  --7: #b7c3d0;
  --8: #eaf5fb;

  // --0: #111214;
  // --1: #181a1d;
  // --2: #1c1f22;
  // --3: #24292e;
  // --4: #393e44;
  // --5: #79818a;
  // --6: #99a1ab;
  // --7: #c6cace;
  // --8: #f4f8fa;

  // --0: #131518;
  // --1: #16191f;
  // --2: #1a2024;
  // --3: #22282e;
  // --4: #373e45;
  // --5: #76818e;
  // --6: #929dab;
  // --7: #bcc5cf;
  // --8: #e5f2f9;

  --primary: #0087d3;
  --success: #07bc0c;
  --warning: #f1c40f;
  --negative: #e74c3c;
}
