.Tabs {
  display: flex;
  align-items: center;
  padding: 1.6rem 2.4rem;
  border-bottom: 0.1rem solid var(--grey);

  ul {
    display: flex;
    gap: 3.6rem;
    list-style: none;

    li {
      font-weight: 500;
      font-size: 1.6rem;
      cursor: pointer;
      transition: all 0.1s ease-in-out;
      opacity: 0.5;
      padding-block: 0.8rem;

      &.active,
      &:hover {
        opacity: 1;
      }
    }
  }
}
