$unit: 3.6rem;
$border: 0.1rem solid var(--4);

.Headers {
  padding: 0.8rem;

  .grid {
    --side: #{$unit};

    display: grid;
    grid-template-columns: var(--side) 1fr 1fr var(--side);
    width: 100%;
    align-items: center;
    justify-content: stretch;

    & > * {
      height: $unit;
      border-bottom: $border;
      display: flex;
      border-left: $border;

      input {
        width: 100%;
        border: none;
        outline: none;
        background-color: transparent;
        height: 100%;
        color: var(--7);
        padding-inline: 0.8rem;
      }

      .button {
        height: 100%;
        width: $unit;
        aspect-ratio: 1 / 1;
        cursor: pointer;
        transition: all 0.1s ease-in-out;
        display: flex;
        align-items: center;
        justify-content: center;
        border-inline: $border;

        & > span {
          display: flex;
          align-items: center;
          justify-content: center;
        }

        &.end {
          border-left: 0;
        }

        &:hover {
          background-color: var(--2);
        }
      }
    }

    .head {
      height: 4.2rem;
      display: flex;
      align-items: center;
      padding-inline: 0.8rem;

      font-family: var(--sans);
      font-weight: 500;
      font-size: 1.6rem;
      line-height: 1.9rem;
      letter-spacing: -0.02em;
      color: var(--7);
      border-inline: none;
    }

    .add {
      justify-content: center;
      padding: 0;
      border-inline: 0;
    }

    .spacer {
      border-inline: none;
    }
  }
}
