.Item {
  display: flex;
  flex-direction: column;
  user-select: none;
  cursor: pointer;

  overflow: hidden;
  white-space: nowrap;

  .content {
    display: flex;
    gap: 0.4rem;
    align-items: center;
    padding: 0.1rem 1.4rem;
    padding-right: 0;
    transition: all 0.1s ease-in-out;

    &.rename {
      background-color: var(--3);
    }

    input {
      width: 100%;
      border: none;
      background-color: transparent;
      outline: none;
      font-family: var(--sans);
      font-weight: 500;
      font-size: 1.6rem;
      line-height: 1.9rem;
      letter-spacing: -0.02em;
      color: var(--7);
      padding: 0.4rem 0;
      pointer-events: all;
      padding-left: 0.4rem;
      border: 0.1rem solid var(--4);
      background-color: var(--1);
    }

    p {
      padding: 0.4rem 0;
      padding-left: 0.4rem;
    }

    span {
      display: flex;
      align-items: center;
      justify-content: center;
      transform: rotate(-90deg);
      transition: all 0.1s ease-in-out;
    }

    &.open span {
      transform: rotate(0deg);
    }

    @for $i from 0 through 24 {
      &.layer-#{$i} {
        padding-left: #{1.4 * ($i + 1)}rem;
      }
    }

    h6 {
      font-size: 1.2rem;
      color: var(--5);
    }
  }
}
