.Request {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.Show {
  opacity: 0;
  pointer-events: none;
  transition: all 0.1s ease-in-out;

  &.active {
    opacity: 1;
    pointer-events: unset;
  }
}

.overlap {
  display: grid;
  grid-template-areas: 'stuff';
  height: 100%;
  width: 100%;

  & > * {
    grid-area: stuff;
    height: 100%;
    width: 100%;
  }
}
