:root {
  --border-radius: 0.4rem;

  --sans: 'Inter', sans-serif;
  --mono: 'Roboto Mono', monospace;

  --0: #13151a;
  --1: #191d23;
  --2: #191f24;
  --3: #222a32;
  --4: #333a43;
  --5: #707d8d;
  --6: #8f9dae;
  --7: #b7c3d0;
  --8: #eaf5fb;

  --primary: #0087d3;
}
